<div ng-include="'client/components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hello welcome to our yammy video center</h1>
    <!--p class="lead">Kick-start your next work with web workers</p-->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQds0qvB_RAwsj8JLArp53YwY3w3wnGk1oi1YiAPWMOt-GSBVvM" alt="Yammy videos">
  </div>
</header>
    <div class="col-lg-12">
        <div class="form-group" >
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn = 'today';getDateFilterUserData('today');" ng-class="{active:activeBtn=='today'}">Dancing</button>
          <button type="button" class="btn btn-primary btn-xs  navbar-btn" ng-click="activeBtn='yesterday';getDateFilterUserData('yesterday');" ng-class="{active:activeBtn=='yesterday'}">Singing</button>
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn='7 days';getDateFilterUserData('last7days');" ng-class="{active:activeBtn=='7 days'}">Acting</button>
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn='30 days';getDateFilterUserData('last30days');" ng-class="{active:activeBtn=='30 days'}">Photography</button>
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn='30 days3';getDateFilterUserData('last30days');" ng-class="{active:activeBtn=='30 days3'}">Public voice</button>
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn='30 days1';getDateFilterUserData('last30days');" ng-class="{active:activeBtn=='30 days1'}">Portfolio</button>
          <button type="button" class="btn btn-primary btn-xs navbar-btn" ng-click="activeBtn='30 days2';getDateFilterUserData('last30days2');" ng-class="{active:activeBtn=='30 days2'}">Brand Baja</button>
      </div>
    <div class="col-lg-12">
        <div class="col-lg-8 text-center">
          <div ng-class="col-lg-10">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eqJ9goTIpN4" frameborder="0" allowfullscreen></iframe>
            <button style="position:absolute;margin-top:145px;" class="btn" ng-click="openDetails()">{{buttonText}}</button>
          </div>
          <div class="col-lg-2" ng-show="isOpende">
            gani
          </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12" ng-repeat="video in videos"> 
              <a ng-href="/client#{{video}}">
                <img class="img-responsive img-thumbnail" ng-src="{{photo}}"/>
              </a>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Follow us |
        <a href="https://fb.com/ganesh.bonangi">Facebook</a> |
        <a href="https://twitter.com/ganesh.bonangi">@Twitter</a> |
        <a href="https://plus.google.com/ganesh.bonangi">Google+</a></p>
  </div>
</footer>
